<h1>Greetings</h1>
<p>This is how we choose the lunch.</p>

Frontrunner(s):
<br>
<% Restaurant.where(id: Survey.top_contenders.first).each do |x| %>
<%=x.name%>
<br>
<%end%>


<%= link_to 'New Survey', new_survey_path %>
<br>
<%= link_to 'Admin', admin_path %>
