
    <main class="main">
        <h1>LunchApp</h1>
        <p>This is how we choose the lunch.</p>
        <% if @frontrunners.any? %>
        <p>Frontrunner(s):</p>
        <p><% @frontrunners.each do |restaurant| %>
        <%=restaurant.name%> ⍚
        <%end%>
        <%end%>
        </p>
        <p> <%= link_to 'Get started.', new_survey_path %> </p> 
    </main>
