
    <main class="main">
        <h1>LunchApp</h1>
        <p>This is how we choose the lunch.</p>
        <% if @frontrunners.any? %>
        Frontrunner(s):
        <br>
        <% @frontrunners.each do |restaurant| %>
        <%=restaurant.name%>
        <br>
        <%end%>
        <%end%>
        <%= link_to 'New Survey', new_survey_path %>
    </main>
