<% if @restaurant.errors.any? %>
  <div id="error_explanation">
    <h2>Ya blew it kid:</h2>
    <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
