.admin-link-container {
  padding: 0px;
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.admin-link {
  padding: 10vh 5vh;
  background-color: lightblue;
  margin: 1em;
  font-size: 1em;
  width: 7em;
  height: auto;
  text-align: center;
  border-radius: 100%;
  border-color: darkblue;
  border-width: 1px;
  border: solid;

}
