// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    font-family: "Lucida Console", Monaco, monospace;
}

h1 {
    font-size: 3em;
    margin-bottom: 1vh;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}

#error_explanation {
    display: flex;
    flex-direction: column;
    color: #800000;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid transparent;
    padding: 3px 5px;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #fdfcfb;
}

tr:nth-child(odd) {
    background-color: #ccd6e0;
}

#disappointed {
    flex-direction: row;
    justify-content: flex-start;
    margin: .1vh 0 .1vh 0;
}

#again {
    flex-direction: row;
    justify-content: flex-end;
    margin: .1vh 0 .1vh auto;

}

.voteColumn {
    text-align: center;
    vertical-align: middle;
}

.drinksColumn,
.brunchColumn {
    padding: 0 5px;
}

input[type=submit] {
    color: #fefbf7;
    border: 1px solid transparent;
    border-radius: 4%;
    background-color: #325b84;
    padding: 4px 24px;
    flex-direction: row;
    justify-content: flex-end;
}

input[type=submit]:hover {
    background-color: #003366;
}

input[type=submit]:active {
    background-color: #002851;
}

a {
    color: #2c87f0;
}

a:visited {
    color: #2c87f0;
}

a:hover,
a:active,
a:focus,
.red {
    color: #800000;
}

.green {
    color: #145314
}

.participant,
.post_lunch {
    display: flex;
    padding-bottom: 5px;
}

.participant {
    flex-direction: column;
}

label[for=survey_post_lunch_false],
label[for=survey_post_lunch_true] {
    padding-right: 3px;
    padding-left: 3px;
}

ol {
    margin: auto;
    list-style-type: none;
}

li:before {
    font-weight: bold;
}

li:nth-child(1):before {
    content: "\1F990 ";
}

li:nth-child(2):before {
    content: "\1F942"
}

li:nth-child(3):before {
    content: "\1F37D";
}